.aboutMe {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    h3 {
        color: #174dad;
        text-transform: capitalize;
        font-size: 2.5rem;
        font-weight: 700;
        padding: 20px;
    }
    .aboutImage {
        width:35vw;
    }
    img{
        box-shadow: -20px 20px;
    }
}

.aboutBtns{
    padding-top: 50px;
    a {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        border: 2px solid #174dad;
        padding: 18px 20px;
        transition: all 0.3s ease-in-out; 
        &:first-of-type{
            color: #fff;
            background-color: #174dad;
            margin-right: 30px;
            &:hover, &:focus {
                color: #174dad;
                background-color: transparent;
            }
        }

        &:last-of-type {
            color:#174dad;
            &:hover, &:focus {
                color: #fff;
                background-color: #174dad;
            }
        }

    }
}

.aboutContent {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding-left: 50px;
    justify-content: center;
}