.contactMe{
    display: flex;
    flex-direction: column;
    width: 75%;
}

form {
    padding: 70px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    font-size: 2rem;
    @include responsiveMedia(phone) {
     grid-gap: 15px;
    }
    .formControl {
        padding: 15px;
        background: rgb(255, 255, 255);
        border: 1px solid #ddd;
        font-size: 1.5rem;
        font-family: Poppins, Arial, sans-serif;
        color: #797979;
        line-height: 1.42857143;
        &:last-of-type {
            width: 100%;
            margin-right: 0;
        }
        @include responsiveMedia(phone) {
            grid-column: 1 / 3;
        }
    }
    textarea {
        border-style: none;
        height: 170px;
        grid-column: 1 / 3;
    }
    .formButton { 
        color: #174dad;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: 1px;
        background-color: transparent;
        border-style: none;
        border: 2px solid #174dad;
        width: 230px;
        padding: 15px 20px;
        transition: all 0.3s ease-in-out;
        &:hover, &:focus {
            color: #fff;
            background-color: #174dad;
        }
        @include responsiveMedia(phone) {
           width: 80vw;
        }
    }
}

