h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 2.1rem;
}

h5,h6 {
    font-size: 1.4rem;
}

p {
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

section{
    text-align: center;
    padding: 100px 0;
    &:nth-child(odd) {
        background-color: #e9ebf8;
    }
}

.sectionTitle {
    padding-bottom: 75px;
    font-size: 4.5rem;
    font-weight: 900;
    color: #174dad;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    padding-bottom: 17px;
    &:after{
        content: "";
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%);
        width: 107px;
        height: 10px;
        background-image: url(../assets/images/title_bg.png);
    }
    @include responsiveMedia(phone) {
        font-size: 3.5rem;
    }
}

h1, h2, h3, h4, .navItem{
    font-family: 'Montserrat', sans-serif;
}

footer{
    color: #fff;
    padding: 40px 0;
    background-color:#174dad ;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.3rem;
    }
    .socialLinks {
        text-align: center;
        margin-bottom: 20px;
        a {
            display: inline-block;
            margin: 0 5px;
            font-size: 2rem;
            color: #fafafa;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: rgba(255,255,255,0.1);
            transition: all 0.3s ease-in-out;
            &:hover, &:focus {
                color: #174dad ;
                background-color: #fff;
            }
        }

    }
    p{
        font-size: 1.6rem;
        font-weight: 400;
    }
}


.top {
    position: fixed;
    bottom: 8px;
    right: 10px;
    z-index: 50000;
    transform: translateX(50px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    i {
        background: #174dad;
        color: #fff;
        border: 2px solid #174dad;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        &:hover, &:focus {
            color:#000;
            background-color: transparent;
        }
    }
}

.scrollTopShow {
    transform: translateX(0);
    opacity: 1;
}