a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1400px;
  width: 90vw;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.2;
  background-color: #fff;
  color: #797979;
}

img {
  border-style: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.1rem;
}

h5, h6 {
  font-size: 1.4rem;
}

p {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

section {
  text-align: center;
  padding: 100px 0;
}

section:nth-child(odd) {
  background-color: #e9ebf8;
}

.sectionTitle {
  padding-bottom: 75px;
  font-size: 4.5rem;
  font-weight: 900;
  color: #174dad;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  padding-bottom: 17px;
}

.sectionTitle:after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 107px;
  height: 10px;
  background-image: url(../assets/images/title_bg.png);
}

h1, h2, h3, h4, .navItem {
  font-family: 'Montserrat', sans-serif;
}

footer {
  color: #fff;
  padding: 90px 0;
  background-color: #174dad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.3rem;
}

footer .socialLinks {
  text-align: center;
  margin-bottom: 20px;
}

footer .socialLinks a {
  display: inline-block;
  margin: 0 5px;
  font-size: 2rem;
  color: #fafafa;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .socialLinks a:hover, footer .socialLinks a:focus {
  color: #174dad;
  background-color: #fff;
}

footer p {
  font-size: 1.6rem;
  font-weight: 400;
}

.top {
  position: fixed;
  bottom: 8px;
  right: 10px;
  z-index: 50000;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.top i {
  background: #174dad;
  color: #fff;
  border: 2px solid #174dad;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.top i:hover, .top i:focus {
  color: #000;
  background-color: transparent;
}

.scrollTopShow {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.home {
  background-color: rgba(14, 26, 58, 0.7);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 150px;
  background-color: transparent;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.navScroll {
  background-color: #174dad;
}

.navLogo {
  font-size: 2rem;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navItem {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.navItem:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.85);
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -webkit-transition: opacity 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: opacity 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.banner {
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
}

.banner h1 {
  font-size: 8.8rem;
  font-weight: 900;
}

.banner p {
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 700;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li {
  padding: 10px;
}

.goDown {
  position: absolute;
  bottom: 15px;
  z-index: 5;
  width: 100%;
  text-align: center;
}

.goDown a {
  display: inline-block;
  width: 30px;
  height: 30px;
  opacity: 0.9;
  -webkit-animation: goDownAnim 1.5s linear 0s infinite;
          animation: goDownAnim 1.5s linear 0s infinite;
  position: relative;
}

.goDown a:hover span:last-of-type, .goDown a:focus span:last-of-type {
  top: -10px;
}

.goDown a:hover span:last-of-type:before, .goDown a:focus span:last-of-type:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.goDown a:hover span:last-of-type:after, .goDown a:focus span:last-of-type:after {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.goDown span {
  display: inline-block;
  position: relative;
}

.goDown span:before, .goDown span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-126deg);
          transform: rotate(-126deg);
  -webkit-transform-origin: 0% 45%;
          transform-origin: 0% 45%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.goDown span:before {
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
}

.goDown span:last-of-type {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  top: -8px;
  left: -3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes goDownAnim {
  0% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes goDownAnim {
  0% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

.svgDivider {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  z-index: 3;
}

.svgDivider svg {
  fill: #e9ebf8;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 50px;
}

.aboutMe h3 {
  color: #174dad;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 20px;
}

.aboutMe .aboutImage {
  width: 35vw;
}

.aboutMe img {
  -webkit-box-shadow: -20px 20px;
          box-shadow: -20px 20px;
}

.aboutBtns {
  padding-top: 50px;
}

.aboutBtns a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  border: 2px solid #174dad;
  padding: 18px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.aboutBtns a:first-of-type {
  color: #fff;
  background-color: #174dad;
  margin-right: 30px;
}

.aboutBtns a:first-of-type:hover, .aboutBtns a:first-of-type:focus {
  color: #174dad;
  background-color: transparent;
}

.aboutBtns a:last-of-type {
  color: #174dad;
}

.aboutBtns a:last-of-type:hover, .aboutBtns a:last-of-type:focus {
  color: #fff;
  background-color: #174dad;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  padding-left: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skillList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-row-gap: 2rem;
  padding: 0 10rem;
}

.skillsItem div {
  display: inline-block;
  position: relative;
  z-index: -2;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #eee;
}

.skillsItem i {
  font-size: 4.5rem;
  color: #222;
  line-height: 82px;
}

.skillsItem i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #174dad;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skillsItem:hover i, .skillsItem:focus i {
  color: #fff;
}

.skillsItem:hover i:after, .skillsItem:focus i:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.skillsIcon {
  width: 4.5rem;
  padding-top: 15px;
}

.portfolioArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
}

.projectImage {
  margin-top: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.08);
  width: 40vw;
  padding: 10px;
}

.projectContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40vw;
}

.blogsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blogsSection article {
  margin: 50px;
  width: 50vw;
  -webkit-box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.blogsSection article h3 {
  color: #111;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6;
}

.blogsSection article p {
  font-size: 1.5rem;
}

.blogsSection article:hover img, .blogsSection article:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogsSection article:hover h3, .blogsSection article:focus h3 {
  color: #174dad;
}

.blogsSection article .blogImg {
  overflow: hidden;
  position: relative;
  height: auto;
}

.blogsSection article .blogImg img {
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.blogsSection article .articleContent {
  padding: 20px;
}

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

form {
  padding: 70px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 30px;
  font-size: 2rem;
}

form .formControl {
  padding: 15px;
  background: white;
  border: 1px solid #ddd;
  font-size: 1.5rem;
  font-family: Poppins, Arial, sans-serif;
  color: #797979;
  line-height: 1.42857143;
}

form .formControl:last-of-type {
  width: 100%;
  margin-right: 0;
}

form textarea {
  border-style: none;
  height: 170px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

form .formButton {
  color: #174dad;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: transparent;
  border-style: none;
  border: 2px solid #174dad;
  width: 230px;
  padding: 15px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

form .formButton:hover, form .formButton:focus {
  color: #fff;
  background-color: #174dad;
}
